{% extends 'portfolio/base.html' %}
{% block title %}Contact me{% endblock %}
{% block content %}
    <div class="contact">
        <h1>Get In Touch</h1>
        <div class="data-contact">
            <div class="info-main">
                <div class="contact_info">
                    <p>Phone: <a href="tel:+380678517741">+38 (067) 851 77 41</a>
                    <p>Email: <a href="mailto:romansulyba@gmail.com">romansulyba@gmail.com</a></p>
                </div>
        </div>
    </div>


{% endblock %}